

body {
    max-width: 1800px;
    margin: auto;
}

.container {
    margin: 105px  !important;

    >section#heading {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        font-family: Inter;

        >h1 {
            padding-bottom: 40px;
            margin: 0;
            line-height: 45px;
            font-weight: 700;
            font-size: 29.41px;
        }

        >p {
            font-weight: 400;
            line-height: .13px;
            font-size: 14.3px
        }
    }

    >section#carts {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        gap: 30px;

        >div.cart {
            width: fit-content;
            border: 1px solid #E7E6E6;
            border-radius: 12px;
            padding: 11px;
            position: relative;

            >img {
                width: 100%;
                border-radius: 12px;
            }

            >.icon {
                top: 28vh;
                right: 21px;
                position: absolute;
                height: 35px;
                width: 35px;
                background-color: white;
                border-radius: 35px;
            }


            >.faded {
                font-family: Inter;
                font-weight: 400;
                line-height: 24.38px;
                color: #717171;
                margin-left: 31px;
                font-size: 12.19px;
            }

            >h1 {
                margin-left: 10px;
                font-weight: 500;
                font-size: 15.88px;
                line-height: 24px;
                color: #05073C;
                font-family: Inter;
            }

            >p {
                color: #05073C;
                margin-left: 90px;
                font-family: Inter;
                font-size: 12.49px;
                font-weight: 400;
                line-height: 24.38px;
            }

            .text {
                display: flex;
                justify-content: space-around;
                align-items: baseline;
                border-top: 1px solid #E7E6E6;


                >p {
                    color: #05073C;
                    font-family: Inter;
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 24.38px;
                    text-align: left;

                    >span {
                        font-size: 14.5px;
                        font-weight: 500;
                        line-height: 30px;
                        text-align: left;
                        font-size: 15.13px;
                        line-height: 30px;
                        margin: 0px;
                    }
                }
            }

        }
    }
}